In [28]:
import pandas as pd
##########
import os
import sys

import numpy as np

from haversine import haversine, Unit




#################
df1 = pd.read_csv("vlabs.csv")
df1=df1.filter(items=['long', 'lat'])
df1=(df1.values.tolist())
list1=df1
#print(type(list1)

df2 = pd.read_csv("vtests.csv")
df2=df2.filter(items=['long', 'lat'])
df2=(df2.values.tolist())
#print(df1,df2)
list2=df2

#########################################
my_new_list = []
for i in list1:
    p1=(i)
  
    my_new_list = []
    for r in list2:
            p2=(r)
            df1= haversine(p1, p2, unit=Unit.MILES)
            #list3=df1
            print(df1)
            #print(type(df1))
# # #    #######################################

# n =len(list3)/2
# list3 = np.array(list3)
# l = np.array_split(list3, n)

# k = [list(elem) for elem in l]
   
# for (a,i) in enumerate(k,start=1):
#     mi = i.index(min(i))
    
    
#     print("Test NO:-",a,"-----------","Nearest Lab No:-",(mi+1),"-------",min(i),"Miles.")

235.40620457800313
294.33838831637036
360.8126010587577
243.46535291111593
98.76157431881536
331.55361925670564
285.91878861780924
134.72972440904837
366.8448445594179
377.9384797206012
20.356568358383612
122.26583647132011
314.526768703343
34.04502202980665
294.11649825158156

In [ ]:
[[-6.378125188, 54.26753258], [-2.918268877, 51.86631017], [-4.158230084, 56.54004655]]


[[-3.86614107, 56.57870574], [-2.477483006, 55.98549315], [-1.316575506, 52.97928472], [-4.180140823, 57.03360425], [-7.806014172, 54.33357018], [-4.458906957, 57.23453676], [-6.015607545, 54.22111772], [-2.493751825, 57.29587036], [-2.933303003, 56.37310653]]

In [24]:
this = [1,2,3,"bbbb"]
##############################
# for i in this:
#     df=str((i))
#     #print(df)
#     nl = []

#     for i in df:
      
#         nl.append(i)

#         df=(nl)
#         print(type(df))
#         print(df)
############################
# for i in this:
#   #df=str((i))
#   #print(i)
#     newlist = []

#     for i in this:
#       #if "a" in x:
#         newlist.append(i)

#         df=(newlist)
#         print(df)
############################################
#for i in this:
  #df=str((i))
  #print(i)
newlist = []

for i in this:
      
        newlist.append(i)

        df=(newlist)
        #df.to_csv('aaa.csv')
         
        
        #print(df)
        #print(type(df))
        df = pd.DataFrame(df)
        df.to_csv("anahhhh.csv")
        
        
        
#         presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
#         for i in range(len(presidents)):
#         print("President {}: {}".format(4 + 1, presidents[4]))

In [44]:
t = [5,3, 2]
for i in t:
    df=(i)
    #print(df)
    #print(type(df))

    newlist = []

    for i in t:
      #if "a" in x:
        newlist.append(i)

        df=(newlist)
        print(type(df))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [38]:
st = [5,3, 2]
for i in st:
    df=str((i))
    #print(df)
 #   new = []

    for i in df:
     new = [] 
   # df1 =new.append(i)
# #         
      print(i)

IndentationError: unexpected indent (Temp/ipykernel_11124/2628280535.py, line 11)

In [39]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    df=(x, y)
    print(df)

('red', 'apple')
('red', 'banana')
('red', 'cherry')
('big', 'apple')
('big', 'banana')
('big', 'cherry')
('tasty', 'apple')
('tasty', 'banana')
('tasty', 'cherry')

In [32]:
#fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
t = [5,3, 2]
for i in t:
    df=str((i))
    #print(df)
    print(type(1))
#     #nl = []

#     for x in df:
#         nl = []
#         df1= nl.append(x)

#             print(df1)

<class 'int'>
<class 'int'>
<class 'int'>

In [50]:
t = [5,3, 2]
for i in t:
    df=str((i))
    #print(df)
    #print(type(i))
 

   

    x=(df.split()) 
    #print(x)
    ##print(type(x))
     #prints the list given by split()
    newlist = []

    for y in x:

            newlist.append(x)

            print(newlist)

[['5']]
[['3']]
[['2']]

In [60]:
import ast
x = '[ "4","5","4" , " 2"]'
x = ast.literal_eval(x)
# for i in x:
#     ast.literal_eval(i)
    
print(x)
print(type(x))
# ['A', 'B', 'C', ' D']
# >>> x = [n.strip() for n in x]
# >>> x
#['A', 'B', 'C', 'D']

['4', '5', '4', ' 2']
<class 'list'>

In [88]:
import numpy as np

TEMP1 = 3 ,5, 6

temperatures = []
floatTemperatures = np.array(temperatures, dtype = np.float32)

floatTemperatures = np.append(floatTemperatures, TEMP1)
print(floatTemperatures)

[3. 5. 6.]

In [89]:
import math

def square_root(1,2,3):
    result = []
    for number in numbers:
    result.append(math.sqrt(number))
    return result
print(result)

#>>> numbers = [1, 4, 9, 16, 25, 36, 49, 64, 81]

SyntaxError: invalid syntax (Temp/ipykernel_8248/4219479689.py, line 3)

In [151]:
num=[2,3,4,5]

result = []
for i in num:
    result.append(i)
    #return result
    print(result)

#>>> numbers = [1, 4, 9, 16, 25, 36, 49, 64, 81]

TypeError: list.append() takes no keyword arguments

In [111]:
num=[2,3,4]
for idxy, val in enumerate(num):
    print(idxy, val)

0 2
1 3
2 4

In [139]:
colors = ["red", "green", "blue", "purple"]
i = 0
while  i =3:
    print(colors[i])
    i += 1

SyntaxError: invalid syntax (Temp/ipykernel_8248/552506319.py, line 3)

In [145]:
colors = ["red", "green", "blue", "purple"]
for i in range(len(colors)):
    print(colors[3])

purple
purple
purple
purple

In [146]:
colors = ["red", "green", "blue", "purple"]
for i in colors:
    print(colors[3])

purple
purple
purple
purple

In [152]:
colors = ["red", "green", "blue", "purple"]
ratios = [0.2, 0.3, 0.1, 0.4]
for i, color in enumerate(colors):
    ratio = ratios[i]
    print("{}% {}".format(ratio * 100, color))

20.0% red
30.0% green
10.0% blue
40.0% purple

In [154]:
presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
for i in range(len(presidents)):
    print("President {}: {}".format(4 + 1, presidents[4]))

President 5: Monroe
President 5: Monroe
President 5: Monroe
President 5: Monroe
President 5: Monroe
President 5: Monroe
President 5: Monroe

In [24]:
this = [1,2,3,"sasi"]

#newlist = []

# for i in this:
#         print(i)
for i in this[:-1]:
  print()
else:
  dfx=(' '.join(this[-1].upper()))
  #dfx.to_csv("m_in.csv")
#   df1=(dfx.to_list())
#   #list1=df1
#   df1.to_csv("m_in.csv")
  newlist = []
   # newlist = []

  for i in dfx[:-1]:
        print()
        else          
#       #if "a" in x:
         newlist.append(i)

         df=(newlist)
         print(df)


  #print("jo")
        #newlist.append(i)

        #df=(newlist)
       # print(df)
# for i in this[:-2]:
#   print(i)
#   else:
#   print(' '.join(this[-1].upper()))

SyntaxError: invalid syntax (Temp/ipykernel_6528/2691418059.py, line 20)

In [49]:
this = [1,2,3,"siva"]

#newlist = []

for i in this[:-1]:
    print()   
else:    
   # newlist = []
      
    #newlist(this[-1].append(i))

    #df=(newlist)
    #print(' '.join(cities[-1].upper()))
    #print(df)
#   for i in this:
      
#         newlist.append(i)

#         df=(newlist)
#         print(df)

S E M A R A N G

In [37]:
cities = [
  'Jakarta',
  'Surabaya',
  'Semarang'
]

for city in cities[:-3]:
  print(city)
else:
  print(' '.join(cities[-1].upper()))

S E M A R A N G

In [ ]:
this = [1,2,3,4]
##############################
# for i in this:
#     df=str((i))
#     #print(df)
#     nl = []

#     for i in df:
      
#         nl.append(i)

#         df=(nl)
#         print(type(df))
#         print(df)
############################
# for i in this:
#   #df=str((i))
#   #print(i)
#     newlist = []

#     for i in this:
#       #if "a" in x:
#         newlist.append(i)

#         df=(newlist)
#         print(df)
############################################
#for i in this:
  #df=str((i))
  #print(i)
newlist = []

for i in this:
      
        newlist.append(i)

        df=(newlist)
        print(df)
        #print(type(df))
#         presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
#         for i in range(len(presidents)):
#

In [16]:
this = [1,2,3,4]
newlist = []

for i in this[:]:
    print(i)
   # newlist = []
    newlist.append(i)

    df=(newlist)
    print(df)

1
[1]
2
[1, 2]
3
[1, 2, 3]
4
[1, 2, 3, 4]

In [10]:
import pandas as pd
##########
import os
import sys

import numpy as np

from haversine import haversine, Unit




#################
df1 = pd.read_csv("vlabs.csv")
df1=df1.filter(items=['long', 'lat'])
# df1=(df1.values.tolist())
# list1=df1
# print(type(list1))
df1.to_csv("aabbcnew.csv")
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [11]:
import pandas as pd

from haversine import haversine, Unit

df1 = pd.read_csv("vlabs.csv")
df1=df1.filter(items=['long', 'lat'])
df1=(df1.values.tolist())
# list1=df1
# print(type(list1))
#df1.to_csv("aabbcnew.csv")
print(type(df1))

<class 'list'>

In [15]:
import pandas as pd

# list of strings

#lst = ['fav', 'tutor', 'coding', 'skills']
#df = pd.DataFrame(lst)
#df.to_csv("hhhh.csv")

In [65]:
import pandas as pd
##########
import os
import sys

import numpy as np

from haversine import haversine, Unit




#################
df1 = pd.read_csv("vlabs.csv")
df1=df1.filter(items=['long', 'lat'])
df1=(df1.values.tolist())
list1=df1
#print(type(list1)

df2 = pd.read_csv("vtests.csv")
df2=df2.filter(items=['long', 'lat'])
df2=(df2.values.tolist())
#print(df1,df2)
list2=df2
my_new_list = []
for i in list1:
   # p1=(i)
  
    my_new_list = []
    for r in list2:
           # p2=(r)
            df1= haversine(i, r, unit=Unit.MILES)
            #list3=df1
            print(df1)
            ##print(type(df1))
##kkkkkkkkk#######################################
# my_new_list = []
# for i in list1:
#     p1=(i)
  
#     my_new_list = []
#     for r in list2:
#             p2=(r)
#             df1= haversine(p1, p2, unit=Unit.MILES)
#             #list3=df1
# #             newlist = []

# #             for i in (i,r):
# #               #if "a" in x:
# #                 #df1= haversine(p1, p2, unit=Unit.MILES)
# #                 newlist.append(i)

#                 #df=(newlist)
#             print(df)

#             #print(df1)
#             #print(type(df1))
#             #****#df1=(df1.to_list())
#             #print(type(df1))
# kkkkkkk# #    #######################################

# n =len(list3)/2
# list3 = np.array(list3)
# l = np.array_split(list3, n)

# k = [list(elem) for elem in l]
   
# for (a,i) in enumerate(k,start=1):
#     mi = i.index(min(i))
    
    
#     print("Test NO:-",a,"-----------","Nearest Lab No:-",(mi+1),"-------",min(i),"Miles.")

235.40620457800313
294.33838831637036
360.8126010587577
243.46535291111593
98.76157431881536
331.55361925670564
285.91878861780924
134.72972440904837
366.8448445594179
377.9384797206012
20.356568358383612
122.26583647132011
314.526768703343
34.04502202980665
294.11649825158156

In [87]:
t = [5,3, 2]
for i in t:
#     df=(i)
#     #print(df)
#     #print(type(df))

    newlist = []

    for a in t:
      #if "a" in x:
        newlist.append(i)

        df=(newlist)
        print(df)

[5]
[5, 5]
[5, 5, 5]
[3]
[3, 3]
[3, 3, 3]
[2]
[2, 2]
[2, 2, 2]

In [84]:
df1 = pd.read_csv("vlabs.csv")
df1=df1.filter(items=['long', 'lat'])
df1=(df1.values.tolist())
list1=df1
#print(type(list1)

df2 = pd.read_csv("vtests.csv")
df2=df2.filter(items=['long', 'lat'])
df2=(df2.values.tolist())
#print(df1,df2)
list2=df2
my_new_list = []
for i in list1:
   # p1=(i)
  
    my_new_list = []
    for r in list2:
           # p2=(r)
            df1= haversine(i, r, unit=Unit.MILES)
            #list3=df1
           # print(type(df1))
           # print(df1)
             newlist = []

             

             for i in t:
                  #if "a" in x:
                    newlist.append(i)

                    df=(newlist)
                    print(type(df))

IndentationError: unexpected indent (Temp/ipykernel_11124/3355176337.py, line 23)

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [91]:
aa = [2, 3, 4]
bb = [10, 20,30]

for x in aa:
    for y in bb:
        print(x* y)

20
40
60
30
60
90
40
80
120